<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Details</title>
	<link rel="stylesheet" href="../public/style.css">
</head>
<body>
<header>
	
	<div class="header-title"><a class="home" id="homeButton" href="/"><img src="../public/home.png" alt="Home"></a><h1>Details</h1></div>
	<button id="mapDButton"></button>
	
	
	
</header>
	<div class="container">
		<div class="content">
			{{#details}}
			<div id="details" class="details-container">
				<div class="details-row" id="ID"><p><strong>ID: </strong>{{ID}}</p></div>
			
			
				<div class="details-row"><p><strong>GKZona: </strong>{{GKZona}}</p></div>
			
			
				<div class="details-row"><p><strong>GKN: </strong>{{GKN}}</p></div>
			
			
				<div class="details-row"><p><strong>GKE: </strong>{{GKE}}</p></div>
			
			
				<div class="details-row"><p><strong>UNSektor: </strong>{{UNSektor}}</p></div>
			
			
				<div class="details-row"><p><strong>OznakaUN: </strong>{{OznakaUN}}</p></div>
			
			
				<div class="details-row"><p><strong>Oznaka: </strong>{{Oznaka}}</p></div>
			
			
				<div class="details-row"><p><strong>Županija: </strong>{{Županija}}</p></div>
			
			
				<div class="details-row"><p><strong>Općina: </strong>{{Općina}}</p></div>
			
			
				<div class="details-row"><p><strong>Naselje: </strong>{{Naselje}}</p></div>
			
			
				<div class="details-row"><p><strong>VojskaID: </strong>{{VojskaID}}</p></div>
			
			
				<div class="details-row"><p><strong>Datum: </strong>{{Datum}}</p></div>
			
			
				<div class="details-row"><p><strong>POM: </strong>{{POM}}</p></div>
			
			
				<div class="details-row"><p><strong>PPM: </strong>{{PPM}}</p></div>
			
			
				<div class="details-row"><p><strong>Ostala: </strong>{{Ostala}}</p></div>
			
			
				<div class="details-row"><p><strong>Provjere: </strong>{{Provjere}}</p></div>
			
			
				<div class="details-row"><p><strong>Tip polja: </strong>{{TipPolja}}</p></div>
			</div>
			{{/details}}
		</div>
		<div class="content">
			<div id="image-container" class="image-container">
				<div id="image" class="skica"></div>
			</div>
			<button id="exportButton"></button>
		</div>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js" ></script>
    <script src="../scripts/details.js"></script>
</body>
</html>