body {
    font-family: Arial, sans-serif;
}


.home {
    position: relative;
     
}
header{
    text-align: right;
    height: 50px;
    padding: 10px 20px;
    background-color: #6495ED;
    color: white;
    position: relative;
}

.header-title{
    display: flex;
    position: absolute;
    left: 0;
    top:  50%;
    transform: translateY(-50%);
    padding-left: 20px;
}

header h1{
    margin: 10px;
    color: white;
}

button#homeButton{
    position: absolute;
    top: 10px;
    left: 10px;
}

#homeButton img{
    max-width: 50px;
    max-height: 50px;
}

#homeButton:hover img{
    
    transform: scale(1.25);
}

button#createButton{
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 20px;
}

button#createButton:hover{
    
    transform: scale(1.05);
}
button#createButton::before{
    content: "CREATE";
}
button#createButton:hover::before{
    content: "Unesite novi zapisnik.";
    
}

button#createButton:active{
    transform: scale(0.95);
}

button#mapButton{
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 20px;
}

button#mapButton:hover{
    
    transform: scale(1.05);
}
button#mapButton::before{
    content: "KARTA";
}
button#mapButton:hover::before{
    content: "Otvori kartu Hrvatske.";
    
}

button#mapDButton{
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 20px;
}

button#mapDButton:hover{
    
    transform: scale(1.05);
}
button#mapDButton::before{
    content: "KARTA";
}
button#mapDButton:hover::before{
    content: "Prikaži topografske podatke zapisnika na karti.";
    
}

button#mapButton:active{
    transform: scale(0.95);
}
button#exportButton{
    display: block;
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    margin: 50px 10px;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button#exportButton:hover{
    transform: scale(1.05);
}
button#exportButton::before{
    content: "EXPORT JSON-LD";
}

button#exportButton:hover::before{
    content: "PREUZMITE TABLIČNE PODATKE U JSON-LD OBLIKU";
}

button#exportButton:active{
    transform: scale(0.95);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: stretch;*/
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.content{
    flex: 1;
}

.details-container{
    position: relative;
    border:  2px solid #6495ED;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    min-width: 350px;
    box-sizing: border-box;
    margin-right: 20px;
    
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 500px;
    height: 500px;
    
}
.skica img{
    align-items: stretch;
    border: 2px solid #6495ED;
    border-radius: 10px;
    padding: 10px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details-row{
    border-bottom:  1px dashed black;
    padding:  10px 0;
}

.details-row:last-child{
    border-bottom: none;
}

.details-row p{
    margin: 0;
}

.details-row p strong{
    margin-right: :10px;
    color: #6495ED;
}

h1{
    text-align: center;
    color: #6495ED;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(173, 216, 230, 0.3);
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #6495ED;
    color: white;
}

input[type="text"],
input[type="date"] {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"] {
    width: 100%;
    max-width: 300px;
}
tr:hover{
    background-color: #f5f5f5;
}



#dropArea {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

#dropArea.highlight {
    border-color: #4CAF50;
}

#dropArea p {
    margin: 0;
}


.form-container {
    border: 2px solid #6495ED;
    padding: 10px;
    border-radius: 10px;
    background-color: f5f5f5;
    min-width: 350px;
    box-sizing: border-box;
}
.form-row{
    border-bottom: 1px dashed black;
    padding: 10px 0;
}
.form-row:last-child{
    border-bottom: none;
}
.form-row label{
    flex: 1;
}

.form-row input[type="text"],
.form-row input[type="date"],
.form-row input[type="number"],
.form-row input[type="radio"] {
    flex: 2;
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.delete-button {

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button img {
    
    width: 24px; 
    height: 24px; 
}

#imagePreview {
    display: inline-block; 
    padding: 5px; 
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

#imagePreview img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
}


button#svgButton{
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 20px;
}

button#svgButton:hover{
    
    transform: scale(1.05);
}
button#svgButton::before{
    content: "SVG";
}
button#svgButton:hover::before{
    content: "Prikaži kartu u SVG formatu";
    
}

button#osmButton{
    padding: 10px 20px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 20px;
}

button#osmButton:hover{
    
    transform: scale(1.05);
}
button#osmButton::before{
    content: "OSM";
}
button#osmButton:hover::before{
    content: "Vrati se u OpenStreetMap view";
    
}